<script type="text/javascript">

    $(function(){
        <%= tab_fnc(:tabs => 'tabs')%>
        <%= button_fnc(:obj=>'#btn_voltar', :icon=>'ui-icon-arrowreturnthick-1-w', :text => true) %>
        <%= button_fnc(:obj=>'.btn_salvar', :icon=>'ui-icon-disk', :text => true) %>
    });

</script>

<%= form_for(@cargo, :url => {:action => "save",:id => @cargo.id}) do |f| %>

    <% if @cargo.errors.any? %>
        <div id="msginfo" class="ui-widget">
            <%= box_error(:message =>  "Verifique os erros.") %>
        </div>
    <% end %>

    <%= box do %>
        <%= button(:label => 'Voltar',  :href => url_for(:action => 'index'), :id => 'btn_voltar')%>
    <% end %>

    <%= tab (:name => 'tabs', :tabs => 'tabs-1', :labels => 'Informações de Cargo') do |t| %>

        <div id="<%= t[0] %>">

            <%= f.label :nome %> <%= f.text_field :nome, :style => 'width: 300px', :class=>'text ui-widget-content ui-corner-all' %>

            <br/>

            <label></label>
            <%= button(:label => 'Salvar', :class => 'btn_salvar', :type => 'submit')%>

        </div>

    <% end %>

<% end %>